<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="label label-success pull-right">{{sensor.value}}</span>
      <strong>{{sensor.title}}</strong><br>
      <small>updated <span style="font-style: italic;" class="" am-time-ago="sensor.lastReceived">...</span></small>
    </div>
    <div class="panel-body hidden-xs">
      <nvd3 ng-show="sensor.type!=='text'" options="sensor.graphOptions" data="sensor.graphData"
            config="sensor.graphConfig"></nvd3>

    </div>
  </div>
</div>
