<div class="col-sm-6 col-md-4 sensor">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="label label-success pull-right">{{text.value}}</span>
      <strong>{{text.title}}</strong><br>
      <small>updated <span style="font-style: italic;" class="" am-time-ago="text.lastReceived">...</span></small>
    </div>
    <div class="panel-body">


    </div>
  </div>
</div>
