<div class="main container">
  <div>
    <navbar/>
  </div>
  <div class="row">

    <div ng-repeat="sensor in main.sensor">

      <sensor topic="{{sensor.topic}}"
              title="{{sensor.title}}"
              type="{{sensor.type}}"
              formatter="{{sensor.formatter}}">
      </sensor>
    </div>



  </div>

</div>
