<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="navbar.reloadPage()">
        <span class="glyphicon"
              ng-class="{'glyphicon-thumbs-up': navbar.connected, 'glyphicon-thumbs-down': !navbar.connected}"></span>
        Westy
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a ng-click="navbar.toggleWebcam()"><span class="glyphicon glyphicon-camera"></span></a></li>-->
      </ul>
    </div>
  </div>
</nav>
